[submodule "ContainerLevelSensor/ESP32-C3-SuperMini"]
	path = ContainerLevelSensor/ESP32-C3-SuperMini
	url = git@github.com:mrtnvgr/KiCad_ESP32-C3-SuperMini.git
[submodule "hardware/openscad/YAPP_Box"]
	path = hardware/openscad/YAPP_Box
	url = git@github.com:mrWheel/YAPP_Box.git
